:root {
    --text-color: #B6AAD2;
    --home-tab-bg-color: #5e42a6;
    --nav-tab-bg-color: #312450;
}


*{
    margin: 0px;
    padding: 0px;
}

html,body{
    background-color: #f0f0f0;
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth; 
}

body {
    color: whitesmoke;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat', 'Futura', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template: 1fr / 2fr 7fr;
    overflow: hidden;
}

.nav {
    background-color: var(--nav-tab-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-content {
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth; 
}

.home-div, #overview-div, #quality-div, #findings-div {
    min-height: 100vh;
    box-sizing: border-box;
}

.home-div {
    background-color: var(--home-tab-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-image: url('../assets/images/intro.svg');  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding-left: 80px;
}

.title {
    font-size: 60px;
    font-weight: 700;
}

.sub-title {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 300;
}

#upload-btn {
    background-color: var(--home-tab-bg-color);
    border-radius: 30px;
    color: whitesmoke;
    border: 1px solid var(--text-color);
    width: 160px;
    height: 50px;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    z-index: 0;
}

#upload-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--nav-tab-bg-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: -1;
}

#upload-btn:hover {
    color: var(--text-color);
    background-color: #5e42a6;
    border-color: var(--text-color);
}

#upload-btn:hover::before {
    transform: scaleX(1);
}

#upload-btn:active {
    transform: scale(0.97);
    transition: transform 0.1s ease;
}

ul {
    list-style: none;
}

.menu-item {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: 2px;
    text-align: right; 
    padding-bottom: 12px;
    margin-bottom: 40px; 
    position: relative;
    
}

.menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2em;
    color: #64537f; 
    transition: color 0.3s ease;
}

.menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #3b2c5e; 
    z-index: 1;
}

.menu-item::before {
    content: '';
    position: absolute;
    bottom: -1px; 
    right: 0;
    width: 100%;
    height: 2px; 
    background: linear-gradient(to right, #611ca8, #eb3e96); 
    z-index: 2; 
    transform: scaleX(0);
    transform-origin: right; 
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu-item a:hover {
    color: #f6f5f6;
}
.menu-item:hover::before {
    transform: scaleX(1);
}

.menu-item.active a {
    color: #ffffff !important;
}
.menu-item.active::before {
    transform: scaleX(1) !important;
}

#delete-file-btn {
    color: #e64040; 
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.selected-file {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

#delete-file-btn {
    width: 20px;
    height: 22px;
    text-decoration: none;
    display: none; 
    cursor: pointer
}

#selected-file-name {
    font-size: 20px;
}

#submit-btn {
    background-color: var(--home-tab-bg-color);
    display: inline-flex; 
    align-items: center;  
    gap: 8px;             
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border: 1px solid var(--text-color);
    border-radius: 25px;
    cursor: pointer;
    width: 160px;
    height: 50px;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 2px;
    position: relative;
    z-index: 0;
    display: none;
}

#submit-btn img {
  width: 20px;
  height: 20px;
}

#submit-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--nav-tab-bg-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: -1;
}

#submit-btn:hover {
    color: var(--text-color);
    background-color: #5e42a6;
    border-color: var(--text-color);
}

#submit-btn:hover::before {
    transform: scaleX(1);
}

#submit-btn:active {
    transform: scale(0.97);
    transition: transform 0.1s ease;
}

#overview-div, #quality-div, #findings-div {
    background-color: var(--home-tab-bg-color);
    background-image: url('../assets/images/intro.svg');  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}

.overview-container {
    padding: 30px;
    display: grid;
    grid-template: 1fr 1fr 1fr;
    gap: 20px;
}

.tab-title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.overview-intro {
    display: flex;
    flex-direction: column;
}

#file-name {
    padding-top: 10px;
    font-size: 18px;
}

#overview-desc, #quality-desc, #findings-desc {
    font-size: 20px;
    color: var(--text-color);
}

.overview-info, .quality-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1/2;
    grid-row: 3/3;
}

.info {
    width: 150px;
    height: 100px;
    background-color: var(--nav-tab-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: #312450 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 0.95rem;
    background-color: var(--home-tab-bg-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

th {
    background-color: var(--nav-tab-bg-color);
    color: #f1f1f1;
    font-weight: 600;
    text-align: left;
    padding: 12px 16px;
    border-bottom: 2px solid #e5e7eb;
}

td {
    padding: 12px 16px;
    color: #f6f6f6;
    border-bottom: 1px solid #e5e7eb;
}

tbody tr:nth-child(even) {
    background-color: var(--home-tab-bg-color);
}

.table-container {
    width: 100%;
    overflow-x: auto;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 2px 2px 4px var(--nav-tab-bg-color);
}

.quality-container {
    padding: 30px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.missing-val-title {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    grid-row: 4/5;
    grid-column: 1/2;
}

.findings-container {
    padding: 30px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.insights {
    background-color: var(--home-tab-bg-color);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
    margin-top: 25px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.insights > img {
    height: 30px;
    width: 30px;
}

.insights > p {
    font-size: 20px;
    color: whitesmoke;
    flex-wrap: wrap;
}